.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.modal {
    width: 75% !important;
    max-height: 100% !important;
    overflow-y: hidden !important;
}

.modal-content {
    padding-bottom: 0px;
}
